.app-container {
  display: flex;
  min-height: 100vh;
  background-color: var(--color-background);
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  width: 100%;
}

.page-content {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
  margin-top: 60px; // Altura del TopNav
}

@media (min-width: 769px) {
  .page-content {
    margin-left: 260px; // Ancho del Sidebar desktop
    padding: 2rem;
  }
}
